@import '../../variables';

$avatar-width: 50px;

.posts-loading,
.posts-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.posts-error {
  flex-direction: column;

  .redirect {
    cursor: pointer;
    margin-top: 20px;
  }
}

.posts {
  .post {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;

    background-color: lighten($bg-accent-color, 15%);
    border: 1px solid $border-color;
    overflow-y: auto;

    .user-avatar {
      width: $avatar-width;
      margin-bottom: 8px;
    }

    .title {
      flex: 1;
      font-size: $font-large;
      text-transform: capitalize;
    }

    .body {
      flex: 1;
      color: $text-dark;
      font-size: $font-medium;
    }
  }
}
