@import '../../variables';

.topbar {
  display: flex;
  align-items: center;
  background-color: $bg-primary-color;
  border-bottom: 2px solid $border-color;

  .logo {
    margin-left: 10px;
    width: $logo-width;
  }

  .title {
    font-family: $font-title;
    font-size: $font-large;
  }
}
