@import '../../variables';

.topbar {
  display: flex;
  align-items: center;
  background-color: $bg-primary-color;
  border-bottom: 2px solid $border-color;

  .logo {
    margin-left: 10px;
    width: $logo-width;
  }

  .name {
    font-family: $font-family;
    font-size: $font-large;

    a {
      color: black;
      text-decoration: none;
    }
  }
}
