@import "../../variables";


.topbar {
  display: flex;
  align-items: center;
  background-color: $bg-color;
  border-bottom: 2px solid rgb(194, 194, 194); //variables

  .logo {
    margin-left: 10px;
    width: 70px;
    pointer-events: none;
  }

  .title {
    font-family: 'Gochi Hand', cursive;//variables
    font-size: 40px;//variables
  }
}
