@import '../../variables';

.main-display {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;

  min-height: 200px;
  text-transform: uppercase;

  .welcome-message {
    text-align: center;
    font-family: $font-family;

    font-size: $font-small;
    animation: animation 2s linear infinite alternate;
  }
}

@keyframes animation {
  25% {
    font-size: $font-medium;
  }
  50% {
    font-size: $font-large;
  }
  75% {
    font-size: $font-xlarge;
  }
  100% {
    font-size: $font-xxlarge;
  }
}
