@import '../../variables';

.main-display {
  flex: 1;
  overflow-y: auto;

  .home {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .welcome-message {
      font-family: $font-family;
      font-size: $font-small;
      animation: animation 2s linear infinite alternate;
    }
  }
}

@keyframes animation {
  25% {
    font-size: $font-medium;
  }
  50% {
    font-size: $font-large;
  }
  75% {
    font-size: $font-xlarge;
  }
  100% {
    font-size: $font-xxlarge;
  }
}
