@import '../../variables';

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 100px;

  margin: 0;
  padding-left: 0;
  border-right: 2px solid $border-color;

  li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
    background-color: $bg-primary-color;

    &.active {
      background-color: lighten($bg-secondary-color, 5%);
    }
  }

  a {
    color: $text-dark;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 400px) {
  .sidebar {
    height: 200px;
    margin-bottom: 0;

    border-right: none;
    border-bottom: 2px solid $border-color;
  }
}
