@import '../../variables';

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;

  border-right: 2px solid $border-color;
  padding-left: 0;
  margin-top: 0;

  li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
    cursor: pointer;

    background-color: $bg-primary-color;

    color: $text-dark;
    font-weight: bold;
    text-transform: uppercase;

    &.active {
      background-color: $bg-secondary-color;
    }

    &:hover {
      background-color: lighten($bg-secondary-color, 5%);
      color: darken($text-dark, 30%);
    }
  }
}
