$bg-primary-color: #efe1ce;
$bg-secondary-color: #e0b589;
$bg-accent-color: #fdac53;

$border-color: #afafaf;

$text-dark: #3d3d3d;

$font-family: 'Gochi Hand', cursive;

$font-small: 12px;
$font-medium: 18px;
$font-large: 24px;
$font-xlarge: 30px;
$font-xxlarge: 36px;

$logo-width: 70px;
