$bg-primary-color: #efe1ce;
$bg-secondary-color: #e0b589;
$bg-accent-color: #fdac53;

$border-color: #afafaf;

$text-dark: #3d3d3d;

$font-family: 'Gochi Hand', cursive;

$font-small: 14px;
$font-medium: 20px;
$font-large: 26px;
$font-xlarge: 32px;
$font-xxlarge: 38px;
