$bg-primary-color: #efe1ce;
$bg-secondary-color: #e0b589;
$bg-accent-color: #fdac53;

$border-color: #afafaf;

$text-dark: #3d3d3d;

$font-title: 'Gochi Hand', cursive;

$font-small: 12px;
$font-medium: 14px;
$font-large: 40px;

$logo-width: 70px;
