$topbar-height: 80px;

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .topbar {
    height: $topbar-height;
  }

  .main-section {
    height: calc(100vh - #{$topbar-height});
    flex: 1;
    display: flex;
  }
}

@media (max-width: 400px) {
  .main-section {
    flex-direction: column;
  }
}
